## Load Trip Data

In [1]:
import sys
import os

# Add the project root directory to Python path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.insert(0, project_root)

from src.data.load_data import load_trip_data
df = load_trip_data('../data/raw/fhvhv_tripdata_2025-02.parquet')

## Preprocess

In [3]:

import importlib

import src.data.preprocess as preprocess
importlib.reload(preprocess)
from src.data.preprocess import preprocess_trip_data

# Read the Parquet file
df_processed = preprocess_trip_data(df)

df_processed

============================================================
NULL VALUE ANALYSIS SUMMARY
============================================================
Total rows in dataset: 19,339,461

Null values by column:
----------------------------------------
originating_base_num: 4,906,388 (25.37%)
on_scene_datetime: 4,906,388 (25.37%)

Rows with at least one null value: 4,906,388 (25.37%)

Null value patterns by company:
----------------------------------------

Uber:
  Total rows: 14,419,623

Lyft:
  Total rows: 4,919,838
  originating_base_num: 4,906,388 (99.73%)
  on_scene_datetime: 4,906,388 (99.73%)

Temporal patterns of null values:
----------------------------------------
Date range of entries with nulls:
  Earliest: 2025-02-01 00:00:01
  Latest: 2025-02-28 23:59:59

Most common null value patterns:
----------------------------------------
  Null in ['originating_base_num', 'on_scene_datetime']: 4,906,388 rows (25.37%)

============================================================

,originating_base_num,request_datetime,on_scene_datetime,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID,trip_miles,trip_time,base_passenger_fare,...,driver_pay,shared_request_flag,shared_match_flag,access_a_ride_flag,wav_request_flag,wav_match_flag,cbd_congestion_fee,company,pickup_weekday,dropoff_weekday
0,B03404,2025-01-31 23:59:37,2025-02-01 00:02:18,2025-02-01 00:03:15,2025-02-01 00:07:02,233,170,1.020,227,10.02,...,4.26,N,N,N,N,N,1.5,Uber,Saturday,Saturday
1,B03404,2025-02-01 00:03:52,2025-02-01 00:09:57,2025-02-01 00:10:11,2025-02-01 00:36:32,107,47,8.710,1581,38.93,...,27.21,N,N,N,N,N,1.5,Uber,Saturday,Saturday
2,B03404,2025-02-01 00:30:46,2025-02-01 00:33:02,2025-02-01 00:34:30,2025-02-01 01:00:56,237,249,5.120,1586,52.70,...,32.39,N,N,N,N,N,1.5,Uber,Saturday,Saturday
3,B03404,2025-02-01 00:33:01,2025-02-01 00:33:09,2025-02-01 00:35:10,2025-02-01 00:48:22,263,151,2.370,792,16.52,...,10.91,N,N,N,N,N,0.0,Uber,Saturday,Saturday
4,B03404,2025-02-01 00:51:19,2025-02-01 00:53:04,2025-02-01 00:54:11,2025-02-01 01:26:01,238,33,10.810,1910,34.37,...,33.26,N,N,N,N,N,0.0,Uber,Saturday,Saturday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19339456,None,2025-02-28 23:11:00,NaT,2025-02-28 23:17:01,2025-02-28 23:36:51,74,164,5.907,1190,25.52,...,20.42,N,N,N,N,N,1.5,Lyft,Friday,Friday
19339457,None,2025-02-28 23:34:58,NaT,2025-02-28 23:40:16,2025-02-28 23:47:23,234,114,1.353,427,19.40,...,9.25,N,N,N,N,N,1.5,Lyft,Friday,Friday
19339458,None,2025-02-28 23:43:26,NaT,2025-02-28 23:48:46,2025-03-01 00:01:41,114,4,1.409,775,18.62,...,12.85,N,N,N,N,N,1.5,Lyft,Friday,Saturday
19339459,B03404,2025-02-28 22:59:34,2025-02-28 23:02:57,2025-02-28 23:04:25,2025-02-28 23:33:30,231,163,5.490,1746,65.17,...,31.99,N,N,N,N,N,1.5,Uber,Friday,Friday
19339460,B03404,2025-02-28 23:14:29,2025-02-28 23:35:41,2025-02-28 23:37:42,2025-03-01 00:06:39,230,7,8.700,1737,64.43,...,34.89,N,N,N,N,N,1.5,Uber,Friday,Saturday

## Summary Statistics

In [1]:
pd.set_option('display.max_columns', None)
df_processed.head()

NameError: name 'pd' is not defined